*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    height: 125px;
    background: #f5f5f5;
    z-index: 9;
}
.nav{
    display: flex;
    padding: 10px 10vw;
    justify-content: space-between;
}
.logo{
    height: 60px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.search{
    width: 500px;
    display: flex;
}
.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    background: none;
    color: #a9a9a9;
}
.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-btn::placeholder{
    color: #a9a9a9;
    font-weight: 600;
}
.nav-items a{
    margin-left: 20px;
}
.nav-items a img{
    width: 30px;
}
.nav-items a i{
    font-size: 28px;
    width: 30px;
    color: #383838;
}
.links-cointainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 10vw;
    list-style: none;
    border: 1px solid #d1d1d1;
}
.links{
    padding: 0px 10px;
    margin: 0px 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
    font-weight: 600;
}
.links:hover{
    opacity: 1;
}